<div class="container mb-5"> 
<img src="/charter-bus.jpeg" class="img-fluid mb-3" />
<h1 class="mb-2">About Global Charter Services</h1>
<p class="fs-5">Global Charter Services, Inc. (“GCS”) is the holding company 
for BusBank, Buster and FestDrive. With over 20 years of experience 
chartering buses and the highest retention rate in the business, 
we are your most reliable partner in bus charter.  All of our 
brands are focused on making chartering buses easy for our 
customers. GCS is headquartered in Chicago and has offices 
in New York City, and staff based in many states in the USA. 
We are financially backed by a group that includes the executives 
that have led Lancer Insurance and Booking.com.</p>
<%= link_to "Posts", posts_path, class: 'btn btn-primary w-25' %>
</div>